@page
@model IndexModel
@{
    ViewData["Title"] = "Dotnet WebApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome to C#</h1>
    <button id="firstButton">Just checkin stuff out</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
