@page
@model PrivacyModel
@{
    ViewData["Title"] = "Page 3";
}
<h1>@ViewData["Title"]</h1>

<p id="pageThreeParagraph">It has a built in router. This is page three</p>
<a href="/index">Home</a><br/>